#Ques8

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Question No 08
dict2={'Name':['Shah','Vats','Vats','Kumar','Vats','Kumar','Shah','Shah','Kumar','Vats'],'Gender':['M','M','F','F','F','M','M','F','F','M'],'MonthlyIncome':[114000,65000,43150,69500,155000,103000,55000,112400,81030,71900]}
df1=pd.DataFrame(dict2)
df1

    Name Gender  MonthlyIncome
0   Shah      M         114000
1   Vats      M          65000
2   Vats      F          43150
3  Kumar      F          69500
4   Vats      F         155000
5  Kumar      M         103000
6   Shah      M          55000
7   Shah      F         112400
8  Kumar      F          81030
9   Vats      M          71900

In [ ]:
#Part-(a)
df1.groupby('Name')['MonthlyIncome'].sum()

Name
Kumar    253530
Shah     281400
Vats     335050
Name: MonthlyIncome, dtype: int64

In [ ]:
#Part-(b)
df1.groupby('Name')['MonthlyIncome'].max()

Name
Kumar    103000
Shah     114000
Vats     155000
Name: MonthlyIncome, dtype: int64

In [ ]:
#Part-(c)
def avg(s):
  if(s.MonthlyIncome>60000):
    return s.MonthlyIncome

df1['MonthlyIncome']=df1.apply(avg,axis=1)
a=df1.dropna() 
a

    Name Gender  MonthlyIncome
0   Shah      M       114000.0
1   Vats      M        65000.0
3  Kumar      F        69500.0
4   Vats      F       155000.0
5  Kumar      M       103000.0
7   Shah      F       112400.0
8  Kumar      F        81030.0
9   Vats      M        71900.0

In [ ]:
#Part-(d)
c=df1.groupby(['Name','Gender'])['MonthlyIncome'].mean()
c

Name   Gender
Kumar  F          75265.0
       M         103000.0
Shah   F         112400.0
       M         114000.0
Vats   F         155000.0
       M          68450.0
Name: MonthlyIncome, dtype: float64

In [ ]:
c.loc['Shah','F']

112400.0